.container{text-align: center;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;}
.corousel{display: flex;
justify-content: center;
align-content: center;
height: 100vh; 
padding: 50px;
border: 50px;
margin: 50px;}